    form{
        margin-top: 30px;
        text-align: center;
    }

    form input{
        margin-bottom: 10px;
    }

    .product-image{
        height: 250px;
        object-fit: contain;
    }