<main>
    {{!-- Conteúdo da página --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/register"method="post" enctype="multipart/form-data">
                    <input type="text" name="name" class="form-control" placeholder="Nome do produto">
                    <input type="number" name="price" class="form-control" placeholder="Valor do produto">
                    <input type="file" name="image" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                {{#each products}}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="../uploads/{{image}}" class="product-image">
                                <div class="text">
                                    <p>{{name}}</p>
                                    <p>R$ {{price}}</p>
                                </div>
                            <a href="#" class="btn btn-warning">Editar</a>
                            <a href="#" class="btn btn-danger">Remover</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>